:root {
     font-family: 'Figtree', sans-serif;
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
   background-color:  var(--yellow);
    display: flex;
    flex-direction: column;
    align-content: center; 
    align-items: center;
    height: 100vh;
    padding: 50px;
    
}

.content{
    width: 400px;
    height: fit-content; 
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid var(--gray-950);
    box-shadow: 8px 8px 0 var(--gray-950);
}

.img {
    height: 200px;
    width:350px;
    border-radius: 10px;
    object-fit: cover;
   
}

h1 {
    font-weight: 400px;
    font-size: 150%;
    margin: 1Opx 20px 10px 20px;
}

.tag{
    background-color: var(--yellow);
    border-radius: 8px;
    padding: 8px 14px;
    margin-top: 20px;
    width: fit-content;
    font-weight: 800;
    margin-bottom: 16px;
}

.date{
    font-weight: 500;
    font-size: 1rem;
    margin: 10px 0;
    
}
p {
    color: var(--gray-500); 
    margin: 20px 0px;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-weight: 800;
    margin: 8px 0;
}
.image-greg{
    display: flex;
    height: 30px;
    width: 30px;
}

h1:hover,h1:active {
    color: var(--yellow);
    cursor: pointer;
}